<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Petstore">
    <test name="Chrome Test">
    <parameter name="browser" value="chrome" />
         <classes>
             <class name="tests.HomePageTest"/>
             <class name="tests.PetStoreMenuTest"/>
             <class name="tests.RegistrationPageTest"/>
             <class name="tests.SignInTest"/>
             <class name="tests.CartTest"/>
          </classes>
     </test> <!-- Test -->
     <test name="FirefoxTest">

<parameter name="browser" value="firefox" />
 <classes>
             <class name="tests.HomePageTest"/>
             <class name="tests.PetStoreMenuTest"/>
             <class name="tests.RegistrationPageTest"/>
             <class name="tests.SignInTest"/>
             <class name="tests.CartTest"/>
          </classes>
     </test> <!-- Test -->
      <test name="EdgeTest">

<parameter name="browser" value="Edge" />
 <classes>
             <class name="tests.HomePageTest"/>
             <class name="tests.PetStoreMenuTest"/>
             <class name="tests.RegistrationPageTest"/>
             <class name="tests.SignInTest"/>
             <class name="tests.CartTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
